* {
    background-color: rgb(189,180,180);
}
.title {
    background-color: white;
    border: solid black;
    padding: 10px;
    text-align: center;
    font-family: cursive;
}

#links-first{
    background-color: white;
    border: black solid;
    padding: 5px;
    

}
#links-second{
    background-color: white;
    border: black solid;
    padding: 5px;

}
#links-third{
    background-color: white;
     border: black solid;
     
}
.ancestor li{
    margin-bottom:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    font-size: 20px;
}
#burger{
    margin:0px 0px 40px 0px;
}

#cookies{
    margin-bottom:40px;
}
#patties{
    margin-bottom:40px;
}
.home{
    font-family: cursive;

}
div.description{
    text-align: center;
}
.pattyingred li{
    margin: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.pattysteps li{
    margin: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.pic{
    display:block
    margin: 0 auto
}